.hotel-card {
    padding: 2rem;
}

.image-frag img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.box-frag {

    display: flex;
    flex-direction: row;
    margin-top: 1.8rem;
    width: 100%;
    border: 1px solid black;
}

.box-frag a:link {
    color: black;
    background-color: black;
}

.box-frag a:hover {
    color: white;
    background-color: black;
}