.reservation-row {
    height: fit-content;
    padding-bottom: 1em;
    background-color: #282828;
    font-variant-caps: all-petite-caps;
    color: white;
}


.flex-container {
    display: flex;
    column-gap: 15px;
}

.flex-item {
    flex-grow: 1;
    box-sizing: border-box;
}

.flex-item-1 {
    flex-basis: 33%;
}

.flex-item-2,
.flex-item-3 {
    flex-basis: 50%;
}

.flex-row {
    display: flex;
    column-gap: 15px;
}

.flex-item-4 {
    display: flex;
    justify-content: center;
    flex-basis: 33%;
    height: fit-content;
}

.flex-item-5 {
    display: flex;
    justify-content: center;
    flex-basis: 33%;
    height: fit-content;
}

@media (max-width: 1200px) {

    .flex-container {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
        row-gap: 10px;
    }
}