/* INPUT STYLE */
input[type="text"] {
    background-color: #f0f0f0;
    border: none;
    border-bottom: 1px solid;
    color: #000;
    cursor: pointer;
    height: 47px;
    padding-left: 1em;
    width: 100%;
}

textarea {
    background-color: #f0f0f0;
    border: none;
    border-bottom: 1px solid;
    color: #000;
    cursor: pointer;
    padding: 1em 0 0 1em;
    width: 100%;
}



/* LABELS & INPUTS */

.form-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1.7rem;
}

.form-container div {
    position: relative;
}

.form-container>div {
    flex: 1 0 calc(50% - 20px);
}

.text-area-div {
    position: relative;
    margin: 30px 0;
}


main form div>label, .text-area-div label {
    left: 0;
    margin-left: 10px;
    position: absolute;
    top: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    color: black;
}

/* transform labels */
input:focus~label,
textarea:focus~label {
    top: -25px;
    margin-left: 0;
}

input~label.active,
textarea~label.active {
    top: -25px;
    margin-left: 0;
}

.form-error-span {
    position: static;
    background-color: #f44336;
    color: #e3f2fd;
}

.form-error {
    display: flex;
    width: fit-content;
    margin-bottom: 33px;
    border-radius: 5px;
    padding: 5px;
    align-content: center;
    align-items: center;
    background-color: #f44336;
    animation: slideFromTop 0.55s ease-in-out;
    column-gap: 5px;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 900px) {

    .form-container {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    .form-container>div {
        margin: 0 2rem;
    }

    .text-area-div {
        position: relative;
        margin: 0 2rem;
        margin-top: 2rem;
    }

    .form-error {
        margin-left: 2rem;
    }
}