@media (max-width: 900px) {
    .hotel-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}

@media (min-width: 1200px) {
    .hotel-flex {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
        gap: 2rem;
    }
}



.pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.page-item {
    list-style: none;
}

.page-link {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.2rem;
    line-height: 1.15;
    font-weight: 500;

    width: 2rem;
    height: 2rem;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
}

.page-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: white;
    border-color: gray;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}

.page-circle:active {
    box-shadow: none;
    border-color: gray;
    outline: none;
}

.page-icon {
    max-width: 0.6rem;
}