.navbar-list {
    position: fixed;
    height: 2rem;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 999;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1.5rem;
    background: linear-gradient(to bottom, rgba(28, 28, 28, 0.7) 0, rgba(28, 28, 28, 0) 100%);
    padding-bottom: 2rem;
    padding-top: 1rem;
    transition: .3s ease;
}

.navbar-list.scrolled header a h1 {
    color: #282828;
}

.navbar-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    display: inline-block;
    margin-right: 2rem;
}

.navbar-list a.active {
    color: white;
    border-bottom: 4px solid white;
}

.navbar-list.scrolled li a.active {
    border-bottom: 4px solid #282828;
}

.burger-nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #282828;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
}


.burger-nav-title {
    order: 1;
}

.burger-nav-title a h1 {
    color: white;
    padding: 0;
    margin: 0 0 .3em .5em;
}

.burger-button {
    margin-right: .5em;
    transition: all 0.5s;
    order: 2;
}


.burger-nav button {
    background: transparent;
    border: none;
}

.navbar-list li a {
    display: block;
    text-decoration: none;
    color: white;
    letter-spacing: .1em;
}

.navbar-list.scrolled {
    position: fixed;
    background: white;
    color: black;
    box-shadow: 0px 0px 10px #ccc, 0px 0px 15px #ccc;
}

.navbar-list.scrolled li a {
    text-decoration: none;
    color: #282828;
}

@media (min-width: 1201px) {
    .img-div img {
        width: 100%;
        max-height: 55rem;
        background-size: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        object-position: center;
    }

    .img-div {
        position: relative;
        height: 55rem;
        /* overflow: hidden; */
        box-shadow: 2em;
        background: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.5)), url("/public/navImg.jpg");
        color: white;
    }

    .nav-title, .nav-title a {
        font-weight: 300;
        font-size: large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-right: 5rem;
        color: white;
    }

    .burger-nav, .menuNav {
        display: none;
    }
}



@media (max-width: 1200px) {

    .navbar-list {
        display: none;
    }

    .menuNav {
        overflow-y: scroll;
        list-style: none;
        position: fixed;
        top: 0;
        background: #282828;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 0;
        overflow: hidden;
        max-width: 170px;
        z-index: 9;
    }

    .menuNav a {
        display: block;
        padding: 10px 40px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    .menuNav li:first-child {
        margin-top: 2.5rem;
    }

    .menuNav.showMenu {
        width: 100%;
    }

    /* .img-div img {
        width: 100%;
        max-height: 25rem;
        background-size: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        object-position: center;
    } */

    .img-div {
        position: relative;
        height: 25rem;
        /* overflow: hidden; */
        box-shadow: 2em;
        background: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.5)), url("/public/navImg.jpg");
        color: white;
        display: flex;

        align-items: center;
        justify-content: center;
    }

    .nav-title {
        font-weight: 300;
        font-size: xx-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        /* margin-top: 10rem; */
    }
}