/* #1c1c1c; //#282828 */

footer {
    position: static;
    bottom: 0;
    width: 100%;
    max-height: fit-content;
    background-color: #282828;
    color: white;
    padding: 1rem 0;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer li {
    list-style: none;
}

footer a {
    color: white;
    cursor: pointer;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
    border-top: 1px solid white;
}







footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}





.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    row-gap: 1em;
}

.footer-social-links {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* right: 0; */
}

.footer-social .icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.footer-social .icon:hover {
    color: #efefef;

}