body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: initial;
  font-size: initial;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row {
  max-width: 95rem;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  margin-left: 2rem;
  font-weight: 1000;
  font-size: 32px;
  letter-spacing: 5px;
}

h2 {
  font-family: Neue Helvetica, helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  letter-spacing: .1666666667em;
  line-height: 1.2916666667em;
  text-transform: uppercase;
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  h2 {
    margin-bottom: 1.5rem;
  }
}